*{
    margin:0px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
    border-style:none;
    margin-top:0px;
}
body{
    background-color:black;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    min-height:100vh;
    background-repeat: not repeat;
    background-attachment:fixed;
    background-position:center;
    background-size: cover;
}
.background-image {
 position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/icons/background5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    opacity: 0.9;
    z-index: -1;
    pointer-events: none; 
    
}
.change-background-div{
    display:flex;
    align-items:flex-end;
    width:95%;
    margin-left:0px;
    flex-direction:row;
    max-height:200px;
    flex:1;
}
.change-background-button{
    height:20px;
    width:20px;
    border-radius:30px;
    border: solid 1px white;
    background-color:rgba(0, 128, 0, 0);
    margin-left:5px;
    transition: all 0.3s;
    cursor:pointer;
}

.change-background-button:hover{
    background-color:   rgba(255, 255, 255, 0.432);
} 










.todo-div{
    flex:26;
    margin-top:200px;
}

.todo-container{
    min-width:350px;
    border-radius: 30px;
    border: solid 2px rgb(255, 255, 255);
    padding:20px;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    backdrop-filter:blur(10px);
}
.title{
    font-size:30px;
    margin-bottom:20px;
    font-weight:600;
    
}
.input-div{
    align-items:center;
    display:flex;
    background-color:rgb(233, 233, 233);
    border-radius:20px;
    padding: 4px 8px;
    min-height: 43px;
}
.input{
    background-color:rgb(233, 233, 233);
    border-radius:20px;
    height:35px;
    min-width:250px;
    display:inline-block;
    padding-left:10px;
}
.input:focus{
    outline:none;
}
.add{
    display:flex;
    align-items:center;
    justify-content:center;
    height:30px;
    width:30px;
    background-color:rgb(53, 71, 230);
    border-radius:30px;
    transition: all 0.3s;
    flex-shrink:0;
        cursor:pointer;
}
.add:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.308);
    margin-top:-6px;
    background-color:rgb(109, 189, 255);
}
.add-image{
    vertical-align:center;
    height:20px;
    width:20px;

}

.list-container{
    flex:1;
    margin-right:20px;
    width:280px;
    margin-top:20px;
}

.adding{
    background-color:rgba(255, 255, 255, 0.322);
    padding:10px;
    margin-bottom:7px;
    display:flex;
    margin-top:5px;
    justify-content:space-between;
    align-items:center;
    width:100%;
    border-radius:10px;
    font-size:15px;
    transition: all 0.3s;

}
.complete-button{
    width:15px;
    height:15px;
    background-color:none;
    border-style:none;
    background-color:rgba(255, 255, 255, 0.541);
    border-radius:10px;
    transition: all 0.2s;
        cursor:pointer;
}
.complete-button:hover{
    outline: solid 1.5px rgba(0, 128, 0, 0.295);
    background-color:rgba(0, 128, 0, 0.295);
}


.text-div{
    background-color:rgba(0, 128, 0, 0);
    width:60%;
    max-width:400px;
    overflow-x:auto;

}
.buttons-container{
    display:flex;
    gap:5px;
}

.delete-image{
    width:20px;
    height:20px;
    margin-top:2px;
}
.delete-button{
    background-color:rgba(65, 65, 65, 0);
    border-radius: 20px;
    width:30px;
    height:30px;
    margin-left:1px;
    transition: all 0.2s;
        cursor:pointer;
}
.delete-button:hover{
    background-color:rgba(65, 65, 65, 0);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.171);
    margin-top:-2px;
}

.pencil-image{
    width:20px;
    height:15px;
    margin-top:2px;
    margin-right:1px;
}
.change-button{
    margin-left:5px;
    background-color:rgba(65, 65, 65, 0);
    border-radius: 20px;
    width:30px;
    height:30px;
    transition: all 0.2s;
        cursor:pointer;
}
.change-button:hover{
    background-color:rgba(65, 65, 65, 0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.171);
    margin-top:-2px;
}
.temporary-input{
    background-color:rgba(65, 65, 65, 0);
    width:100%;
    display:inline-block;
    color:white;
}
.temporary-input:focus{
    outline:none;
}
.list-container{
    flex: 1;
    max-width:400px;
    max-height: 520px;
    overflow-y: auto;
    overflow-x:auto;
    width: 100%;
    display:flex;
    justify-content:center;
}
.list{
    width:85%;

}